<!DOCTYPE html>
<html ng-app='boards'>
  <head>
    <meta charset="UTF-8">
    <title>Colla-board-rate</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">   
  </head>
  <body>
    <video autoplay id="bgvid" loop>
      <!-- Video is 8MB. Uncomment when ready to show final product. -->
      <!-- <source src="assets/dayinthelifeshort-720p.mov" type="video/mp4"> -->
    </video>
      <h3 id="boardsHeader" >Your Boards</h3>
      <form ng-controller="BoardsController" id="newBoardForm" ng-submit='newBoard()'>
        <button>Create New Board</button>
      </form>
      <form ng-controller="BoardsController" id="signout-button" ng-submit='signout()'>
        <button>Sign out</button>
      </form>      
    <!-- <input type='text' ng-model='search' placeholder='filter' /> -->
    <div ng-controller="BoardsController" class="boards">
      <div class="board" ng-repeat="board in data.boards">
        <div class="info">
          <!-- <div class="visits"> -->
            <!-- <span class="count">{{ board.name }}</span> -->
          <!-- </div> -->
          <a href="http://localhost:8080/{{ board }}">{{ board }}</a>
        </div>
      </div>
    </div>

      
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.min.js"></script>
    <script src='../js/boards.js'></script>
    <script src='../js/services.js'></script>

    
    
  </body>
</html>